<!DOCTYPE html>
<html>
<head>
    <title>Detalle de Producto</title>
</head>
<body>
    <h1>{{product.title}}</h1>
    <p><strong>Precio:</strong> ${{product.price}}</p>
    <p><strong>Categoría:</strong> {{product.category}}</p>
    <p><strong>Descripción:</strong> {{product.description}}</p>
    <form action="/api/carts/1/product/{{product._id}}" method="POST">
        <button type="submit">Agregar al carrito</button>
    </form>
    <a href="/products">Volver a productos</a>
</body>
</html>
